<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
   <menu>

<!--  ICON MENU TITLE  -->
       <add id="RW_MenuItem::menu"
           title="RW Menu" module="RW_MenuItem"
           sortOrder="10"
           resource="Magento_Backend::content"
           />
         


<!-- Dit is het eerte child menu   -->
       <add id="RW_MenuItem::menu_item"
           title="RW Items" module="RW_MenuItem"
           sortOrder="10" parent="RW_MenuItem::menu"
           action="createmenubackend/create/index"
           resource="RW_MenuItem::menu_item"
           />


         <add id="RW_MenuItem::menu_item2"
           title="RW Item 2" module="RW_MenuItem"
           sortOrder="10" parent="RW_MenuItem::menu"
           action="createmenubackend/create/index"
           resource="RW_MenuItem::menu_item"
           />

<!-- Dit is het eerte child poging van een subitem  --> 
        <add id="RW_MenuItem::menu_item2_sub"
           title="RW Item 2 sub" module="RW_MenuItem"
           sortOrder="10" parent="RW_MenuItem::menu_item2"
           action="createmenubackend/create/index"
           resource="RW_MenuItem::menu_item"
           />


<!--  TOP MENU TITLE PORTO SETTINGS    -->
     
    
    <add id="RW_MenuItem::menu_item_porto" title="Porto Settings" 
    module="RW_MenuItem" parent="RW_MenuItem::menu" sortOrder="30"  resource="Smartwave_Core::all"/>

        <add id="RW_MenuItem::menu_item3" 
        title="Porto Theme Settings" module="Smartwave_Porto"
        sortOrder="40" parent="RW_MenuItem::menu_item_porto" 
        action="adminhtml/system_config/edit/section/porto_settings" 
        resource="Smartwave_Porto::theme_settings"
        />

        <add id="RW_MenuItem::menu_item4" 
        title="Porto Design Panel" module="Smartwave_Porto" 
        sortOrder="44" parent="RW_MenuItem::menu_item_porto" 
        action="adminhtml/system_config/edit/section/porto_design" 
        resource="Smartwave_Porto::theme_design"
        />

<!-- 
    STORE LINKS  cache ,design,order,invoices,credits
-->

    <add id="RW_MenuItem::menu_item_storelinks" title="Store Links" 
    module="RW_MenuItem" parent="RW_MenuItem::menu" sortOrder="100"  resource="Smartwave_Core::all"/>

          <add id="RW_MenuItem::menu_item_cache" 
          title="Cache settings" module="Magento_Backend"
          sortOrder="1100" parent="RW_MenuItem::menu_item_storelinks" 
          action="adminhtml/cache" 
          resource="Magento_Backend::cache"
          />


        <add id="RW_MenuItem::menu_item_storesettings" 
        title="Store settings" module="Magento_Backend" 
        sortOrder="120" parent="RW_MenuItem::menu_item_storelinks" 
        resource="Magento_Backend::stores"
          />
        <!--     STORE settings werkt nog niet hierboven moet update krijgen    -->
   </menu>
</config>

